.head {
    color: rgb(16, 185, 129);
}

.table {
    border-collapse: separate;

}
.card:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-out;  
}
.card:active{
    transform: scale(1.1);
    background-color: azure;
}